*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Lora-Regular;
}

@font-face {
    font-family: Lora-Regular;
    src: url(./fonts/Lora-Regular.ttf);
}

.first{
    padding: 20px 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first img{
    width: 40px;
}

.first li{
    list-style: none;
    display: inline-block;
    margin: 10px;
}

.first a{
    text-decoration: none;
    font-size: 12px;
    color: #464646;
    padding: 5px 20px;
    border: 1px solid transparent;
    border-radius: 11px;
}

.first a:hover{
    background-color: #868686;
    color: white;
    transition: 0.3s;
}

.second{
    text-align: center;
    background-color: #929292;
    padding: 80px 0 250px 0;
    color: white;
}

.second h1{
    font-size: 50px;
}

.second p{
    margin-bottom: 40px;
}

.second a{
    padding: 5px 20px;
    border: 1px solid transparent;
    text-decoration: none;
    border-radius: 20px;
    background-color: #868686;
    color: white;
}

.second a:hover{
    background-color: white;
    color: #464646;
    transition: 0.3s;
}

.third{
    display: flex;
    justify-content: space-between;
    padding: 0 15%;
}

.box{
    background-color: white;
    margin-top: -150px;
    width: 250px;
    height: 250px;
    box-shadow: 0px 3px 3px 3px #999;
    text-align: center;
    color: #464646;
}

.box img{
    margin: 30px;
    width: 50px;
}

.box p{
    margin-top: 10px;
    font-size: 12px;
}