*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

th, td{
    border: 2px solid #DFDFDF;
    padding: 10px;
}

table{
    border-collapse: collapse;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 360px;
    width: 640px;
}

th{
    background-color: #F8F9FD;
    color: #556189;
    width: auto;
    text-align: left;
}

tr:nth-child(1) th, tr:nth-child(2) th, tr:nth-child(3) th, tr:nth-child(4) th{
    text-align: center;
}

td{
    text-align: end;
    vertical-align: bottom;
    color: #222;
}